{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<body>
    <h1 class="title">About Fish Forecaster</h1>
    <p class="blur-bg">Fish Forecaster is a web application designed to help anglers predict the best fishing times based on various environmental factors. By analyzing data such as weather conditions, lunar phases, and historical catch records, Fish Forecaster provides users with personalized fishing forecasts to enhance their fishing experience.</p>
    <h2 class="title">Features</h2>
    <ul class="blur-bg">
        <li>Personalized fishing forecasts based on location and species.</li>
        <li>Integration with weather APIs for real-time weather updates.</li>
        <li>Lunar phase tracking to optimize fishing times.</li>
        <li>User profiles to save preferences and track fishing history.</li>
    </ul>
    <h2 class="title">Contact Us</h2>
    <p class="blur-bg">If you have any questions or feedback, please feel free to reach out through our <a href="/contact">Contact</a> page.</p>
</body>
{% endblock %}